@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Reset----------------------------------- */
/* ---------------------------------------------------------------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: top;
    color: undefined;
}ol, blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}


/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

::-moz-selection{background: #ff5f9f none repeat scroll 0 0;color: #fff;text-shadow:none}
::selection{background: #ff5f9f none repeat scroll 0 0;color: #fff;text-shadow:none}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:200%;	height: auto;width: auto\9; /* ie8 */}

a{
    color: #ff5f9f;
    text-decoration: none;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition-duration: 0.3s;
}
a:hover {
    color: #ff5f9f;
}

h1, h2 	{font-size: 25px;line-height: 25px;}
h3, h4	{font-size: 20px;line-height: 20px;}
h5, h6	{font-size: 16px;line-height: 16px;}
h1,h2,h3,h4,h5,h6{font-family: "Merriweather",serif;letter-spacing: 1px;font-weight: 700;line-height:1.2;}

p{margin: 10px 0;color: #777;}

.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.f-right{float: right;}
.f-left{float: left;}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.list-inline li{display: inline-block;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {height: 100%;width:100%; padding:0; margin:0;}
body {background: #fff;color: #3F3F3F;font: 14px/25px Arial;font-family: "Merriweather",serif; font-weight: 400;}
body .wrap-body{}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */
header{}
header .wrap-header{}
header .main-header{text-align: center;padding: 70px 0;background:#F7F7F7;}

header .contact-info{padding: 0 46px 0 0;color: #acb4b6;display: inline-block;font-size: 12px;line-height: 20px;position: relative;}

header .contact-info::before {font-size: 23px;height: 30px;line-height: 30px;width: 30px;color: #ff5f9f;font-family: "FontAwesome";margin: 0;padding: 10px;position: absolute;text-align: center;top: 0;border: 1px solid #ccc;border-radius: 50%;}
.left.contact-info::before{content: "\f017";right: 0;}
.right.contact-info::before{content: "\f095";left: 0;}
.left.contact-info{padding: 5px 70px 0 0;text-align: right;}
.right.contact-info{padding: 5px 0 0 70px;text-align: left;}

header #logo{}
@media screen and (max-width:767px){
	header .main-header{padding-top: 50px;}
	header #logo{margin: 20px 0;}
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Container------------------------------ */
/* ---------------------------------------------------------------------------- */
#container {}
#container .wrap-container{background: #ffffff;}

/* ---content-box--- */
.content-box {}
.content-box {}
.content-box .wrap-box {padding:80px 10px; position: relative;}
.content-box .header {text-align: center; margin: 20px 0 70px;}
.content-box .header h2{font-size: 37px;font-weight: bold;line-height: 1.2;color: #111;}
.content-box .header .wrapper{padding: 5px; display: inline-block;}
.content-box .header .intro {color: #ff5f9f;font-size: 15px;font-style: italic;font-family: "Merriweather",serif; font-weight: bold;}

.content-box.boxstyle-1{background:#fff; color: #333;}
.content-box.boxstyle-2{background:#F7F7F7;}

.content-box.box-1 {}
.content-box.box-1 h1{font-size: 38px;color: #333;line-height: 1.2;margin-bottom: 30px;}
.content-box.box-1 span{color: #ff5f9f;}
.content-box.box-1 .lead {font-size: 21px;color: #555;}

.content-box.box-2 .wrap-box {padding:80px 0;}
.content-box.box-2 .post{text-align: center;margin: 20px inherit; }
.content-box.box-2 img{}

.content-box.box-3 {}
.content-box.box-3 .project-category {font-size: 16px !important;}
.content-box.box-3 .project-name {font-size: 13px !important;}
.content-box.box-3 .project-name h4{font-size: 40px;margin-bottom: 5px;line-height: 1.2;}

.content-box.box-4 {text-align: center;}
.content-box.box-4 .item{}
.content-box.box-4 .item .item-content{padding: 20px;}
.content-box.box-4 .item h3 a{font-size: 20px;font-weight: bold;color: #111;}
.content-box.box-4 .item h3 a:hover{color: #ff5f9f;}
.content-box.box-4 .item span{font-weight: bold;color: #ff5f9f;margin-top: 10px;display: block;}
.content-box.box-4 .project-social i.fa{font-size: 91px;}

.content-box.box-5 {text-align: center;}
.content-box.box-5 .header h2{color: #fff;}
.content-box.box-5 .item{}
.content-box.box-5 .item .item-content{padding: 20px 10px;}
.content-box.box-5 h3 a{color: #fff;font-size: 18px;}
.content-box.box-5 h3 a:hover{color: #ff5f9f;}
.content-box.box-5 i.fa{line-height: 1.6;margin: 0 3px;}
.content-box.box-5 span{font-size: 15px;display: block;margin-top: 10px;color: #ccc;}
.content-box.box-5 .testimonials-item{max-width: 600px;margin: auto;border: 1px solid #ff5f9f;padding: 30px;} 
.content-box.box-5 .testimonials-item img{max-width: 130px;margin-bottom: 15px;border-radius: 50%;}
.content-box.box-5 .testimonials-item h5{margin-top: 30px;}
.content-box.box-5 .testimonials-item p{color: #ccc;}

.box_bot {text-align: center;}
.box_bot .wrap-box{padding: 20px 10px;}
.box_bot h3{color: #000;}
.box_bot p{font-size: 15px;}
.box_bot i.fa{font-size: 28px; height: 70px; width: 70px; background: #ff5f9f; color: #fff;border-radius: 50%;margin-bottom: 30px;padding-top: 22px;}

/* ---MainContent-Article--- */
#main-content{margin: 40px 0;}
#main-content .wrap-content{padding: 0 30px 20px;border-right: 1px solid #ddd;}
#main-content .wrap-content h3{margin-bottom: 10px;}
#main-content .wrap-map{background: #fff;padding: 5px;border: 1px solid #bbb;max-width: 520px;}

article{display: inline-block;border-bottom: 1px solid #ddd;padding-bottom: 30px;margin-bottom: 30px;}
article:last-child{border-bottom: none;padding-bottom: 0;}
article:after, article:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
article .art-header{margin-bottom: 20px;}
article .art-header h3{font-size: 28px;color: #111;}

article .art-content a:hover{ color: #000;}
article .art-content blockquote {border-left: 3px solid #1c7791;font-size: 18px;margin: 0 50px;font-style: italic;color: #666;padding-left: 20px;}
article .art-content ol {float: left;text-align: justify;margin: 10px 50px;font-size: 16px;list-style-type: circle;}

article .entry-title {margin: 10px 0;}
article .entry-title h2{font-size: 38px;}
article .info a{}
article .info i.fa{line-height: 1.6;margin: 0 3px;}
article .info{display: block;margin-top: 10px;font-size: 15px;}

article img{display: block;width: 100%;margin-top: 10px;}


/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer{background: #000000e6;
	font-size: 14px;} 
.footer-map {
	display: flex;
	justify-content: center;
	padding-top: 50px; }
.footer-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
    text-transform: uppercase;
	color: #eeeeee;
	line-height: 180%;
    letter-spacing: 0.03778rem;
    font-size: 0.66667rem;}
.footer-middle {
	border-top: 1px solid rgba(250, 250, 250, 0.1);
    padding: 1.55556rem 0 1.38889rem;
    display: flex;
    align-items: center;}
.footer-middle_left {
    line-height: 3.0;
    width: 50%;}
.footer-middle_back-to-top {
    touch-action: manipulation;
    order: 3;
    display: inline-block;
    text-align: center;
    position: relative;
    transition: all 100ms ease-out;
    float: right;
    width: 8.33333rem;
    padding-bottom: 1px;
    margin-left: 1.66667rem;;}
.footer-middle_back-to-top::before {
  background-color: #ff5f9f;
  right: 20px;
  bottom: 20px;
  border-radius: 22px;
  cursor: pointer;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 42%;
  top: -22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}
 .footer-middle_right {
	 width: calc(50% - 10rem);}
 .widget-title{
	 text-transform: capitalize;
	 margin-bottom: 30px;}
 .footer-top{
	 padding: 20px 10px 20px 60px;}
 .logo img{
	 max-width: 170px;margin-top: 30px;}
 .col-footer-1 {}
 .col-footer-2 {}
 .col-footer-2 ul {
	 padding: 0;}
 .col-footer-2 ul li {
	 list-style: none;
	 margin-bottom: 5px; 
	 border-bottom: 1px solid #777;}
 .col-footer-2 ul li:first-child{
	 padding-top: 0;}
 .col-footer-2 ul li:last-child{
	 border-bottom: none;}
 .col-footer-2 ul li a{
	 color: #777;
	 font-size: 12px;}
 .col-footer-2 ul li a:hover{
	 color: #ff5f9f;}
 .col-footer-3 input[type="text"]{ 
	 outline: medium none;
	 color: #999999;
	 display: block;
	 font-size: 14px;
	 height: 40px;
	 line-height: 1.2;
	 margin: 10px 0;
	 padding: 5px 10px 0;
	 width: 100%;
	 background-color: transparent;
	 border: 2px solid #999;}
.copyright{
	background: #f1f1f1;
	color: #777;}
.copyright .wrapper{
	padding: 20px;}
.copyright ul.quick-link{
	float: right;}
.copyright ul.quick-link li {
	display: inline-block;
	margin-right: 10px;}
.copyright a{}

@media all and (max-width: 768px){
	.copyright{text-align: center;}
	.copyright ul.quick-link{float: none;margin-top: 10px;}
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
.contact h3{margin-left: 30px;}
#contact_form {padding:0px 25px;}

#ff label {cursor:pointer;margin:5px 0;display:block;font-weight:bold;}

#ff input[type="text"]{display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}

textarea {display:block;width:100%;height:200px;background-color:#F3F3F3; color:#111;border:1px solid #ccc;padding:10px;margin: 5px 0 25px 0;}



/* ---------------------------------------------------------------------------- */
/* -------------------------------------Button--------------------------------- */
/* ---------------------------------------------------------------------------- */
.button{
	cursor: pointer;
	font-size: 13px;
	border:1px solid #ffffff; 
	display: inline-block;
	text-decoration: none;
	margin: 5px 0;
	color: #fff;
	padding: 10px 15px;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}
.button:hover{text-decoration: none; background: #303030;}

.button.bt1 {background: #ff5f9f;color: #ffffff;padding: 10px 35px;text-align: center;border:2px solid #ff5f9f;font-weight: bold; font-size: 15px;border-radius: 30px;}
.button.bt1:hover{background: transparent;color: #ff5f9f;}
.button-subcribe{background-color: #ff5f9f;color: #fff;font-weight: bold;}
.button-subcribe:hover{background-color: #333;}


/* ---------------------------------------------------------------------------- */
/* ------------------------------Portfolio Box--------------------------------- */
/* ---------------------------------------------------------------------------- */	
.portfolio-box {display: block;position: relative;margin: auto;overflow: hidden; }

.portfolio-box img {
  max-width: 100%; 
  min-height: 100%; 
  object-fit: cover;  
}

.portfolio-box:before{z-index:1;content:"";position:absolute;left:10px;right:10px;top:10px;bottom:10px;border-top:1px solid #ff5f9f;border-bottom:1px solid #ff5f9f;transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transition:all 0.4s ease-in-out 0s;-moz-transition:all 0.4s ease-in-out 0s;-webkit-transition:all 0.4s ease-in-out 0s;}
.portfolio-box:after{z-index:1;content:"";position:absolute;left:10px;right:10px;top:10px;bottom:10px;border-left:1px solid #ff5f9f;border-right:1px solid #ff5f9f;transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transition:all 0.4s ease-in-out 0s;-moz-transition:all 0.4s ease-in-out 0s;-webkit-transition:all 0.4s ease-in-out 0s;}
.portfolio-box:hover:before{transform:scale(0,1);-moz-transform:scale(0,1);-webkit-transform:scale(0,1);-ms-transform:scale(0,1)}
.portfolio-box:hover:after {transform:scale(1,0);-moz-transform:scale(1,0);-webkit-transform:scale(1,0);-ms-transform:scale(1,0)}

/****** Zoom Effect ******/
.portfolio-box.zoom-effect .portfolio-box-caption{background: rgba(0, 0, 0,.3);}
.portfolio-box.zoom-effect img{-webkit-filter: grayscale(100%);filter: grayscale(100%);-webkit-transition: 0.5s ease;transition: 0.5s ease;}
.portfolio-box:hover.zoom-effect img{-webkit-filter: grayscale(0);filter: grayscale(0);-webkit-transform:scale(1.1); /* Safari and Chrome */-moz-transform:scale(1.1); /* Firefox */-ms-transform:scale(1.1); /* IE 9 */-o-transform:scale(1.1); /* Opera */transform:scale(1.1);}


.portfolio-box .portfolio-box-caption {display: block;position: absolute;bottom: 0;width: 100%;height: 100%;text-align: center;color: #fff;-webkit-transition: all .35s;-moz-transition: all .35s;transition: all .35s;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {position: absolute;top: 50%;width: 100%;text-align: center;transform: translateY(-50%);}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {padding: 0 15px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px;text-shadow: 2px 2px #111;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {font-size: 13px;color: #ff5f9f;margin-bottom: 10px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {font-size: 16px;margin-bottom: 3px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social{transition: all 1s ease;opacity: 0; height: 0;overflow: hidden;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social i.fa{font-size: 25px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social ul li{margin: 20px 5px 0;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social ul li a{display: block;width: 48px;height: 48px;color: #ff5f9f;background: #fff;transition-duration: 0.3s;padding-top: 12px;border-radius: 50%;text-shadow: none;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social ul li a:hover{color: #fff;background-color: #ff5f9f;}

.portfolio-box:hover .portfolio-box-caption {opacity: 1;background: none;}
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-social{opacity: 1;height: auto;}
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-name
{display: none;}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 15px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 19px;
    }
}




/* ---------------------------------------------------------------------------- */
/* ----------------------------------Carousel---------------------------------- */
/* ---------------------------------------------------------------------------- */
.owl-controls .owl-buttons div {position: absolute;color:#777;opacity: 0.7;}
.owl-carousel:hover .owl-buttons div {color:#fff;}
.owl-controls .owl-buttons .owl-prev {left: 10px;top: 50%;}
.owl-controls .owl-buttons .owl-next {right: 10px;top: 50%;}
.owl-carousel{margin-bottom: 20px;}
.owl-carousel .owl-buttons div i {font-size: 40px;margin: -20px 0 0;}
.owl-carousel .item{position: relative;}
.carousel-caption {position: absolute;top: 50%;transform: translateY(-50%);bottom: auto;padding: 0;text-align: center;width: 100%;left: auto;right: auto;text-shadow: none;}
.carousel-caption-title {margin: 0;padding: 0;}
.carousel-caption-title {
    font-size: 15px;
	font-weight: bolder;
    font-family: 'Cabin', Helvetica, sans-serif;
    text-transform: uppercase;
    color: #373735;
}
.carousel-caption-text {margin: 0;padding: 0;}
.carousel-caption-text {
    color: #aaaaaa;
    font-size: 14px;
    font-size: 0.875em;
    letter-spacing: .5px;
    text-transform: none;
	color: #91987D;
}
.carousel-caption-inner {background: #fff;padding: 30px 40px;max-width: 80%;margin: 0 auto;display: inline-block;}

.copyright {
    max-width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 1.02778rem 0;
    background: #0e0e0e;
}